<DModal
  @closeModal={{@closeModal}}
  @title={{theme-i18n "guest_gate.title"}}
  class={{concat-class
    "gate"
    (if (theme-setting 'custom_gate_enabled') "custom-gate")
  }}
  @dismissable={{if (theme-setting 'dismissable_false') false true}}
>
  <:body>
    {{#if (theme-setting 'custom_gate_enabled')}}
      <div class="custom-gate-content">
        <img src="{{theme-setting 'custom_gate_image'}}"/>
        <h2>{{html-safe (theme-i18n "custom_gate.big_text")}}</h2>
        <p>{{html-safe (theme-i18n "custom_gate.little_text")}}</p>
      </div>
    
    {{else}}
    
      <div>
        <p>{{replace-emoji (i18n 'signup_cta.intro')}}</p>
        <p>{{replace-emoji (i18n 'signup_cta.value_prop')}}</p>
      </div>
    {{/if}}
  </:body>
  
  <:footer>
    {{#if this.siteSettings.enable_discourse_connect}}
      {{#if (theme-setting 'use_gate_buttons') }}
        <DButton
          @class={{theme-setting "login_button_style"}}
          @icon={{theme-setting "login_icon"}}
          @label={{theme-prefix "guest_gate.sso_log_in"}}
          @action={{route-action "showLogin"}}
        />
        {{#if (theme-setting 'enable_discourse_connect_signup')}}
          <DButton
            @class={{theme-setting "signup_button_style"}}
            @icon={{theme-setting "signup_icon"}}
            @label={{theme-prefix "guest_gate.sso_sign_up"}}
            @href={{theme-setting "discourse_connect_signup_url"}}
          />
        {{/if}}
        
      {{else}}
        
        <DButton
          @class="btn-transparent"
          @label={{theme-prefix "guest_gate.sso_log_in"}}
          @action={{route-action "showLogin"}}
        />

        {{#if (theme-setting 'enable_discourse_connect_signup')}}
          {{theme-i18n "guest_gate.or"}}
          <DButton
            @class="btn-transparent"
            @label={{theme-prefix "guest_gate.sso_sign_up"}}
            @href={{theme-setting "discourse_connect_signup_url"}}
          />
        {{/if}}
      {{/if}}
              
    {{else}}
              
      {{#if (theme-setting 'use_gate_buttons')}}
        {{#if (theme-setting 'custom_url_enabled')}}
          <DButton
            @class={{theme-setting "login_button_style"}}
            @icon={{theme-setting "login_icon"}}
            @label={{theme-prefix "guest_gate.log_in"}}
            @href={{theme-setting "custom_login_url"}}
          />
          <DButton
            @class={{theme-setting "signup_button_style"}}
            @icon={{theme-setting "signup_icon"}}
            @label={{theme-prefix "guest_gate.sign_up"}}
            @href={{theme-setting "custom_signup_url"}}
          />
          
        {{else}}
          
          <DButton
            @class={{theme-setting "login_button_style"}}
            @icon={{theme-setting "login_icon"}}
            @label={{theme-prefix "guest_gate.log_in"}}
            @action={{route-action "showLogin"}}
          />
          <DButton
            @class={{theme-setting "signup_button_style"}}
            @icon={{theme-setting "signup_icon"}}
            @label={{theme-prefix "guest_gate.sign_up"}}
            @action={{route-action "showCreateAccount"}}
          />
        {{/if}}
            
      {{else}}
          
        {{#if (theme-setting 'custom_url_enabled')}}
          <DButton
            @class="btn-transparent"
            @label={{theme-prefix "guest_gate.log_in"}}
            @href={{theme-setting "custom_login_url"}}
          />

          {{theme-i18n "guest_gate.or"}}
          
          <DButton
            @class="btn-transparent"
            @label={{theme-prefix "guest_gate.sign_up"}}
            @href={{theme-setting "custom_signup_url"}}
          />
              
        {{else}}
            
          <DButton
            @class="btn-transparent"
            @label={{theme-prefix "guest_gate.log_in"}}
            @action={{route-action "showLogin"}}
          />

          {{theme-i18n "guest_gate.or"}}

          <DButton
            @class="btn-transparent"
            @label={{theme-prefix "guest_gate.sign_up"}}
            @action={{route-action "showCreateAccount"}}
          />
        {{/if}}
      {{/if}}
    {{/if}}
  </:footer>
</DModal>
